html, body {
  height: 100%;
  width: 100%;
}
.container{
  width: 100%;
}
.title{
  background-color:powderblue;
  text-align: center;
  width: 100%;
}
.corpo{
  margin-top: 1%;
  text-align: center;
  font-size: 5%;
}
.livros{
  color:#71b7c1;
  text-decoration: underline;
}
.link{
  font-size: 10%;
}
.relogio{
  background-color: powderblue;
}